<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="senderEmail" value="ymou@gmail.com"/>
    <add key="senderDisplayName" value="YM OU"/>
  </appSettings>
  <connectionStrings>
    <add name="Orders" connectionString="Server=.\YMOU;Database=Orders;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" userName="YM" password="testing" port="25" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>